[submodule "cobalt_boot"]
	path = cobalt_boot
	url = https://github.com/CobaltKernel/cobalt_boot.git
[submodule "cobalt_core"]
	path = cobalt_core
	url = https://github.com/CobaltKernel/cobalt_core.git
[submodule "cobalt"]
	path = cobalt
	url = https://github.com/CobaltKernel/cobalt.git
